/* Media Query */

/* 
Para dispositivos cuyo máximo son 768px, aplico las siguientes propiedades.

Para pantallas más chicas de 768px
*/

/* Reseteo */
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.mainNav {
  background-color: rgb(116, 8, 80);
}

.mainNav-ul{
  display: flex;
}

.mainNav-ul a {
  display: inline-block;
  padding: 10px;
  color: white;
}


h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 52px;
  color:rgb(116, 8, 80);
}

.cards-container {
  display: flex;
}

.card {
  display: block;
  width: 260px;
  text-align: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px rgb(143, 143, 143);;
}

.card h2 {
  margin-bottom: 0;
  color:rgb(26, 26, 26)
}

@media(max-width: 992px) {
  h1 {
    font-size: 36px;
  }
}


@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .mainNav {
    text-align: center;
  }

  .mainNav-ul {
    /*display: block;*/
    flex-direction: column;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}

/*

Responsive Design

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}



@media (min-width: 1200px) and (max-width: 1400px) {}


*/