* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 1024px;
  height: 600px;
  margin: 60px auto;
  border: 5px solid rgb(44, 44, 44);
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box1{
  bottom: -10px;
  right: -10px;
  background-color: brown;
  z-index: 2;
}

.box2{
  bottom: -60px;
  right: -20px;
  background-color: blueviolet;
  z-index: 1;
}

.box3{
  bottom: -30px;
  right: -50px;
  background-color: rgb(226, 43, 134);
  z-index: 3;
}

.box4{
  bottom: -50px;
  right: -80px;
  background-color: rgb(226, 183, 43);
}